
:root{
    --cor0:#0D0D0D;
    --cor1:#606060ab;
    --cor2:#d13809;
    --cor3:#ff621eec;
    }

/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--cor1);
    
}


.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-image:linear-gradient(to bottom, var(--cor2), var(--cor3));
    color: var(--cor1);
    padding: 20px 0;
    height:70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    
    
}

nav a {
    transition: font-size 0.3s ease;
}

nav a:hover {
    font-size: 19px;
}

.titulo {
    font-size: 32px;
    text-align: center;
    color: var(--cor0);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.466);
}


header,nav  :hover{
    font-size: 18px;
    color:#0a0909 ;
}

header h1 {
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}


/* oq fazer Quando passar o mouse em cima do link*/
header a:hover {
    color: black;
    font-size: 20px;
    transition-duration: .8s;
    text-decoration: underline ;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.537);
}



/* Corpo do trabalho*/
main{
    background-color: var(--cor2);   
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.481);
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:10px ;
}


/* Imagem principal*/
.banner {
    background: url(img/fitness.png-fotor-2024040222528.png);
    background-size:cover ;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    height: 500px;
    
    
    padding: 30px 0;
    height: 850px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
    border-radius: 10px;
}

.texto-central {
    font-size: 30px;
    color: #fcf2f2;
    line-height: 45px;
    margin-left: 5px;
    opacity: 0.5;
    transition: font-size 0.3s ease;
   
}

.texto-central:hover {
    font-size: 35px;
    color: var(--cor3);
    line-height: 45px;
    margin-left: 5px;
    cursor:  pointer;
    text-decoration: ;
    
}
    
    
     
    
    .container-cards {
        max-width: 900px;
        margin: 100px auto;
        display: flex;
        justify-content: space-evenly;
    }
    
    .card {
            background-color: var(--cor2); /* Definindo a cor de fundo dos cards */
            border-radius: 8px; /* Arredondando as bordas dos cards */
            box-shadow: 4px 0 20px rgba(0, 0, 0, 0.8); /* Adicionando uma sombra suave aos cards */
            padding: 20px; /* Adicionando espaço interno aos cards */
            width: 30%; /* Definindo a largura dos cards */
            margin-right: 20px; /* Adicionando margem à direita de cada card */
    }
    
    .card h2 {
        color:var(--cor0);
        margin-bottom: 10px;
    }
    
    .card p {
        color: var(--cor0);
    }

   

  

                                                                     



/*.sobre {
    background: #fff;
    margin-top: 20px;
    padding: 25px 0;
    text-align: center;
}*/

.calcule {
    background: #60606009;
    padding: 50px 0;
    text-align: center;
}

footer {
    background-image:linear-gradient(to top, var(--cor2), var(--cor3));
    color: var(--cor0);
    padding: 10px 0;
    text-align: center;
    width: 100%;
}