/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    height:70px ;
    
    
}

header h1 {
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.banner {
    background: url('./img/musculacao-aerobico-2.jpg');
    background-size:cover ;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    height: 500px;
}

.texto-central {
    font-size: 30px;
    color: #fcf2f2;
    line-height: 45px;
    margin-left: 200px;
    opacity: 0.5;
    position: fixed;
    }   

                                                                     



.sobre {
    background: #fff;
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
}

.calcule {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}